.cardsCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 80%;
}

.titleCardsCart {
    font-size: 2.3em;
    width: 40%;
}

.priceCardsCart {
    font-size: 1.8em;
}

.countCardsCart {
    font-size: 2em;
}

.imageCardsCart {
    height: 200px;
    width: 200px;
}

.buttonDeleteProduct {
    border: none;
    font-size: 2em;
    background-color: #0a141d;
    color: #DC3535;
}