.cardsCarritoContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 88vh;
    color: #fff;
    background-color: #263159;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.cardsCarritoContainer::-webkit-scrollbar{
    display: none;
}

.botonVaciarCarrito {
    font-size: 2em;
    font-weight: 700;
    padding: 10px;
    background-color: #DC3535;
    color: #263159;
    margin-bottom: 10px;
    border-radius: 5px;
}