.cardsCartContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 88vh;
    color: #fff;
    background-color: #0a141d;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.cardsCartContainer::-webkit-scrollbar{
    display: none;
}